.container{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.text-holder { grid-area: 1 / 1 / 2 / 5; }
.card-holder { grid-area: 1 / 5 / 2 / 6; }

.example-card {
    max-width: 400px;
    float: right;
}
  
.example-header-image {
    // background-image: url('../_resources/myself-icon.JPG');
    // background-size: contain;
    // background-position-x: center;
    //background-image: url('https://scontent.fbud4-1.fna.fbcdn.net/v/t39.30808-6/289442524_3165732033676056_1730112383963844621_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=m1Nx7m2AreMQ7kNvgH6FSRU&_nc_ht=scontent.fbud4-1.fna&cb_e2o_trans=q&oh=00_AYCDtRBB49BiCSqxKgLpHi8eXWYz-kXJG8IIR96y7Kdiyw&oe=669D6CA2');
    //background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    //background-size: cover;
}

.subtitle{
    font-size: larger;
    letter-spacing: 5px;
    font-weight: light;
}

.accordion-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.accordion-align .mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
}
  