<div class="container">
    <h1 *ngIf="false" style="width: 80%; margin: auto; margin-top: 10vw;">This page is under heavy development.</h1>

    <div class="text-holder">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi, vero adipisci sunt blanditiis dolores, necessitatibus magnam illo qui facere corporis maxime eius quo, repudiandae tempora provident. Pariatur quo culpa ab. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur perferendis nemo sed libero fuga debitis tempora delectus necessitatibus rem exercitationem. Deserunt qui, esse sapiente inventore voluptatem reprehenderit! Quibusdam, animi quidem.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores maxime incidunt unde voluptatum. Qui explicabo soluta hic dolor illum rem, libero quos quae aspernatur quidem adipisci, tempore, officiis neque in? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore possimus illum deserunt natus asperiores repudiandae eveniet, labore sunt unde officia officiis. Nobis architecto sit cum, consequatur exercitationem mollitia tempora voluptatibus?</p>
    </div>

    <div class="card-holder">
        <mat-card class="example-card" appearance="outlined">
            <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Molnár Ákos Benedek</mat-card-title>
            <mat-card-subtitle>FULLSTACK DEVELOPER</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
            </mat-card-content>
            <mat-card-actions>
            <button mat-flat-button>CHECK PROJECTS</button>
            </mat-card-actions>
        </mat-card>
    </div>
    
  
</div>