<div class="container">
    <h1 *ngIf="false" style="width: 80%; margin: auto; margin-top: 10vw;">This page is under heavy development.</h1>

    <div class="text-holder">
        <h3 class="subtitle">{{ languageService.getText(texts.titles.AboutMe) }}</h3>
        <p class="just">{{languageService.getText(texts.aboutme.introduction)}}</p>

        <h3 class="subtitle">{{ languageService.getText(texts.titles.WorkExperience) }}</h3>
        <mat-accordion class="accordion-align" multi>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title> 2023.02. - {{languageService.getText(texts.dates.now)}} </mat-panel-title>
                <mat-panel-description>
                  {{languageService.getText(texts.jobs.ulyssys.editor.Name)}}
                  <!-- Ulyssys Kft. Xml- és sablonszerkesztő -->
                  <mat-icon>build</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div>
                <ul>
                  <li *ngFor="let text of texts.jobs.ulyssys.editor.Properties">{{languageService.getText(text)}}</li>
                  <!-- <li>Információcsere a szervezőkkel</li>
                  <li>Specifikáció olvasás és megértés</li>
                  <li>Levelek létrehozása változómezőkkel</li>
                  <li>Felmerült hibák javítása</li>
                  <li>Issuekezelés</li> -->
                </ul>
              </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title> 2022.08. - 2023.02. </mat-panel-title>
                  <mat-panel-description>
                    {{languageService.getText(texts.jobs.ulyssys.tester.Name)}}
                    <!-- Ulyssys Kft. Manuális tesztelő -->
                    <mat-icon>bug_report</mat-icon>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div>
                  <ul>
                    <li *ngFor="let text of texts.jobs.ulyssys.tester.Properties">{{languageService.getText(text)}}</li>
                    <!-- <li>Egyszerűbb tesztelési feladatok</li>
                    <li>Specifikáció olvasás és megértés</li>
                    <li>Issuekezelés</li> -->
                  </ul>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title> 2021.08. - 2021.11. </mat-panel-title>
                  <mat-panel-description>
                    {{languageService.getText(texts.jobs.euroone.Name)}}
                    <!-- Euro One Számítástechnikai Zrt. Helpdesk munkatárs -->
                    <mat-icon>phone</mat-icon>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div>
                  <ul>
                    <li *ngFor="let text of texts.jobs.euroone.Properties">{{languageService.getText(text)}}</li>
                    <!-- <li>Hibajegyek kezelése</li>
                    <li>Telefonos és emailes kapcsolattartás</li> -->
                  </ul>
                </div>
            </mat-expansion-panel>
        </mat-accordion>


        <h3 class="subtitle">{{ languageService.getText(texts.titles.Studies) }}</h3>
        <mat-accordion class="accordion-align" multi>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title> 2020 - 2024 </mat-panel-title>
                <mat-panel-description>
                    {{languageService.getText(texts.schools.OE.Name)}}
                    <br>
                    {{languageService.getText(texts.schools.OE.Spec)}}
                    <!-- Óbudai Egyetem Üzemmérnök-informatikus szak<br>Szoftvertervezés- és fejlesztés specializáció -->
                  <mat-icon>school</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div>
                <ul>
                    <li *ngFor="let text of texts.schools.OE.Properties">{{languageService.getText(text)}}</li>
                    <!-- <li>Átfogó backend és frontend ismeret</li>
                    <li>Verziókövetett, SCRUM alapú fejlesztés</li>
                    <li>Projektmenedzsment szemlélet</li>
                    <li>Teszteléssel és üzemeltetéssel kapcsolatos ismeretek</li> -->
                </ul>
              </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title> 2016 - 2020 </mat-panel-title>
                  <mat-panel-description>
                    {{languageService.getText(texts.schools.LKG.Name)}}
                    <!-- Budapest IX. Kerületi Leövey Klára Gimnázium -->
                    <mat-icon>book</mat-icon>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div>
                    <ul>
                      <li *ngFor="let text of texts.schools.LKG.Properties">{{languageService.getText(text)}}</li>
                      <!-- <li>Általános informatikai ismeretek</li>
                      <li>Robotprogramozás Arduino használatával</li> -->
                    </ul>
                </div>
              </mat-expansion-panel>
        </mat-accordion>

        <h3 class="subtitle">{{ languageService.getText(texts.titles.TechKnowledge) }}</h3>
        <ul>
            <li *ngFor="let item of texts.aboutme.techKnowledge">{{languageService.getText(item)}}</li>
        </ul>

        <h3 class="subtitle">{{ languageService.getText(texts.titles.Hobbies) }}</h3>
        <div>
            <p class="just">{{languageService.getText(texts.aboutme.hobbies)}}</p>
        </div>
    </div>

    <div class="card-holder">
        <mat-card class="example-card" appearance="outlined">
            <mat-card-header>
            <!-- <div mat-card-avatar class="example-header-image"></div> -->
            <mat-card-title>{{languageService.getText(texts.aboutme.name)}}</mat-card-title>
            <mat-card-subtitle>{{languageService.getText(texts.aboutme.jobPosition).toUpperCase()}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/myself.jpg" alt="Photo of Myself">
            <!-- <mat-card-content>
            <p class="sub-img">
              Munkáim:
              {{languageService.getText(texts.aboutme.projectIntro)}}
            </p>
            </mat-card-content> -->
            <!-- <mat-card-actions>
            <button mat-flat-button routerLink="/projects">{{languageService.getText(texts.navigation.myprojects).toUpperCase()}}</button>
            </mat-card-actions> -->
        </mat-card>
    </div>
    
  
</div>