.container{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.text-holder { grid-area: 1 / 1 / 2 / 5; }
.card-holder { grid-area: 1 / 5 / 2 / 6; }

.example-card {
    max-width: 400px;
    float: right;
}

.subtitle{
    font-size: larger;
    letter-spacing: 5px;
    font-weight: light;
}

.accordion-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.accordion-align .mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
}
  

img{
    max-height: 350px;
}

.just{
    text-align: justify;
}

.sub-img{
    color: rgb(100, 100, 100);
    padding-top: 5px;
}

.nospacing{
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.contact{
    color: rgb(100, 100, 100);
    text-decoration: none;
}

.contact:hover{
    color: rgb(60, 60, 60);
    text-decoration: underline;
}

.phonespacing{
    padding-right: 3px;
    letter-spacing: 0.01px;
}